{% extends 'base.html.twig' %}

{% set title = "Mon profil" %}

    {% block title %}
        {{ title }}
    {% endblock %}

    {% block body %}
        <div class="bloc_form">
            {% if is_granted('edit', app.user) %}
                <h1>Mon profil</h1>
            {% else %}
                <h1>{{ app.user.pseudo }}</h1>
            {% endif %}
            {# <img src="{{ asset('images/participant/') }}{{ participant.imageName }}" alt="" height="200" width="200"> #}
            {{ form_start(formulaireParticipant) }}
            {{ form_widget(formulaireParticipant) }}
            <input class="button" type="submit" value="Enregistrer"/>
            <a class="button" href="{{ path('sortie_index') }}">Annuler</a>
            {{ form_end(formulaireParticipant) }}
        </div>
    {% endblock %}
