{% extends 'base.html.twig' %}

{% set title = "Mon profil" %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<h1>{{title}}</h1>
	{# <img src="{{ asset('images/participant/') }}{{ participant.imageName }}" alt="" height="200" width="200"> #}

	{{ form_start(formulaireParticipant) }}

	{% block vich_image_widget %}
		{{ form_widget(formulaireParticipant.imageFile) }}
	{% endblock %}

	{{ form_widget(formulaireParticipant) }}
	<input type="submit" value="Enregistrer"/>
	<a href="">Annuler</a>
	{{ form_end(formulaireParticipant) }}
{% endblock %}
