{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex justify-center">
        <div id="annulation">
            <div id="infos-annulation">
                <div class="justify-center">
                    <h1>Annuler une sortie</h1></div>
                <div><span>Nom de La sortie: </span><span>{{ sortie.nom }}</span></div>
                <div>
                    <span>Date de La sortie: </span><span>{{ sortie.dateHeureDebut | date("d/m/y H:i") }}</span></div>
                <div><span>Campus: </span><span>{{ sortie.campus.nom }}</span></div>
                <div>
                    Lieu: {{ sortie.lieu.nom ~ ' ' ~ sortie.lieu.rue ~ ' ' ~ sortie.lieu.ville.codePostal ~ ' ' ~ sortie.lieu.ville.nom }}</div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div id="boutons-annulation">
                    <button class="button" type="submit">Enregistrer</button>
                    <a class="button" href="{{ path('sortie_index') }}">Annuler</a>
                </div>
                {{ form_end(form) }}
            </div
        </div>
    </div>
{% endblock %}

