{% extends 'base.html.twig' %}

{% block body %}
  {{ form_start(form) }}
  {{ form_widget(form) }}

  <button type="submit">Rechercher</button>
  {{ form_end(form) }}

  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date</th>
        <th>Clôture</th>
        <th>Inscriptions</th>
        <th>État</th>
        <th>Inscrit</th>
        <th>Organisateur</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for sortie in sorties %}
        <tr>
          <td>{{ sortie.nom }}</td>
          <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
          <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
          <td></td>
          <td>{{ sortie.etat.libelle }}</td>
          <td>
            {% if app.user in sortie.participants %}X{% endif %}
          </td>
          <td>
            <a href="">{{ sortie.organisateur.pseudo }}</a>
          </td>
          <td>
            {% set action = app.user in sortie.participants ? 'desinscrire' : 'inscrire' %}
            <span data-controller="des-inscription" data-sortie-action="{{ action }}"><a href="{{ path('sortie_inscription', { id: sortie.id }) }}">{{ action }}</a></span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
