{% extends 'base.html.twig' %}

{% block body %}
  {{ form_start(form) }}
  {{ form_widget(form) }}

  <button type="submit">Rechercher</button>
  {{ form_end(form) }}

  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date</th>
        <th>Clôture</th>
        <th>Inscriptions</th>
        <th>État</th>
        <th>Inscrit</th>
        <th>Organisateur</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for sortie in sorties %}
        {% set action = app.user in sortie.participants ? 'desinscrire' : 'inscrire' %}
        <tr data-controller="sortie-actions" data-sortie-action="{{ action }}">
          <td>{{ sortie.nom }}</td>
          <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
          <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
          <td>
            <span id="sortie-action-count">{{ sortie.participants|length }}</span> / {{ sortie.nbInscriptionsMax }}
          </td>
          <td>{{ sortie.etat.libelle }}</td>
          <td>
            <span id="sortie-action-statut"></span>
          </td>
          <td>
            <a href="">{{ sortie.organisateur.pseudo }}</a>
          </td>
          <td>
            <span id="sortie-action-lien"><a href="{{ path('sortie_inscrire', { id: sortie.id }) }}"></a></span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
