{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="flex justify-center my-2"><h1>Afficher une sortie</h1></div>
        <div id="view-sortie">
            <div id="view-sortie-col1">
                <div><span>Nom de La sortie: </span><span>{{ sortie.nom }}</span></div>
                <div>
                    <span>Date et Heure de La sortie: </span><span>{{ sortie.dateHeureDebut | date("d/m/y H:i") }}</span>
                </div>

                <div>
                    <span>Date Limite d'inscription: </span><span>{{ sortie.dateLimiteInscription | date("d/m/y") }}</span>
                </div>
                <div><span>Nombre de places: </span><span>{{ sortie.nbInscriptionsMax }}</span></div>
                <div><span>Durée: </span><span>{{ sortie.duree }} minutes</span></div>
                <div>Descriptions et infos:</div>
                <div>{{ sortie.infosSortie }}</div>
            </div>
            <div id="view-sortie-col2">
                <div><span>Campus: </span><span>{{ sortie.campus.nom }}</span></div>
                <div><span>Lieu: </span><span>{{ sortie.lieu.nom }}</span></div>
                <div><span>Rue: </span><span>{{ sortie.lieu.rue }}</span></div>
                <div><span>Code Postal: </span><span>{{ sortie.lieu.ville.codePostal }}</span></div>
                <div><span>Latitude: </span><span>{{ sortie.lieu.latitude }}</span></div>
                <div><span>Longitude: </span><span>{{ sortie.lieu.longitude }}</span></div>
            </div>
        </div>
        <div id="participants-sortie">
            <h1>Liste des participants inscrits:</h1>
            <table id="liste-participants">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in sortie.participants %}
                    <tr>
                        <td>{{ participant.pseudo }}</td>
                        <td>{{ participant.prenom ~ ' ' ~ participant.nom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

